body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Sidebar container */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  background-color: #439a97;
  padding: 20px;
  overflow-y: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transform: translateX(-150px);
  transition: transform 0.3s ease-in-out;
  /* transform: translateX(0); */
}

/* Sidebar open */
.sidebar.open {
  transform: translateX(0);
}

/* Title */
.sidebar .title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

/* List items */
.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar-active {
  background-color: #62b6b7;
}

.sidebar a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  border-radius: 5px;
}

.sidebar a:hover {
  background-color: #62b6b7;
}

/* Close button */
.sidebar .close-button {
  position: absolute;
  bottom: 10px;
  left: 50px;
  font-size: 24px;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  width: 150px;
  background-color: #62b6b7;
  text-align: center;
  border-radius: 5px;
  transition: width left 0.3s ease-in-out;
}

.sidebar .close-button-collapsed {
  left: 170px;
  width: 40px;
  transition: width left 0.3s ease-in-out;
}

/* Open button */
.open-button {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 20px;
  background-color: #cbedd5;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 20px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out;
}

.open-button:hover {
  background-color: #97dece;
}

.content {
  margin-left: 85px;
  padding: 20px;
  transition: margin 0.3s ease-in-out;
}

.sidebar.open + .navbar + .content {
  margin-left: 235px;
}

.sidebar.open + .navbar {
  margin-left: 235px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #439a97;
  margin-left: 85px;
  padding: 20px;
  transition: margin 0.3s ease-in-out;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  font-weight: bold;
  font-size: 18px;
}

.navbar-logo a {
  font-size: 24px;
}

.navbar a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.navbar-links {
  display: flex;
}

/* File upload interface */
.upload {
  border: 2px dashed #62b6b7;
  padding: 20px;
  margin: 20px 0;
  position: relative;
}

.upload-header {
  margin-bottom: 20px;
}

.upload-header h2 {
  font-size: 24px;
  margin: 0;
}

.upload-header p {
  font-size: 16px;
  margin: 10px 0 0;
}

.upload-list {
  display: flex;
  flex-wrap: wrap;
}

.upload-item {
  border: 1px solid #62b6b7;
  border-radius: 4px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 250px;
  overflow: hidden;
}

.upload-item img {
  width: 50px;
  height: 50px;
}

.upload-item p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.upload-item button {
  width: 100%;
  margin: 5px;
}

button {
  color: #62b6b7;
  text-decoration: none;
}

button a {
  color: #62b6b7;
  text-decoration: none;
}

.upload-item button a:hover {
  color: white;
}

.delete-btn {
  background-color: #fff;
  border: 1px solid red;
  border-radius: 4px;
  color: red;
  cursor: pointer;
  font-size: 12px;
  padding: 5px 10px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.download-btn {
  background-color: #fff;
  border: 1px solid #62b6b7;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  padding: 5px 10px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.delete-btn:hover {
  color: white;
  background-color: red;
}

.download-btn:hover {
  color: white;
  background-color: #62b6b7;
}

.drop-zone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  border: 2px dashed #aaa;
  border-radius: 5px;
  background-color: #f8f8f8;
  transition: background-color 0.3s ease;
}

.drop-zone.drag-over {
  background-color: #eaf7ff;
}

.drop-message {
  font-size: 20px;
  font-weight: bold;
  color: #aaa;
  margin-bottom: 10px;
}

.default-message {
  font-size: 16px;
  color: #aaa;
}
